[submodule "packages/world.opensemantic.core"]
	path = packages/world.opensemantic.core
	url = https://github.com/OpenSemanticWorld-Packages/world.opensemantic.core
[submodule "packages/world.opensemantic.base"]
	path = packages/world.opensemantic.base
	url = https://github.com/OpenSemanticWorld-Packages/world.opensemantic.base
[submodule "packages/world.opensemantic.lab"]
	path = packages/world.opensemantic.lab
	url = https://github.com/OpenSemanticWorld-Packages/world.opensemantic.lab
[submodule "packages/world.opensemantic.lab.virtual"]
	path = packages/world.opensemantic.lab.virtual
	url = https://github.com/OpenSemanticWorld-Packages/world.opensemantic.lab.virtual
[submodule "packages/world.opensemantic.demo.lab.virtual"]
	path = packages/world.opensemantic.demo.lab.virtual
	url = https://github.com/OpenSemanticWorld-Packages/world.opensemantic.demo.lab.virtual
[submodule "packages/world.opensemantic.demo"]
	path = packages/world.opensemantic.demo
	url = https://github.com/OpenSemanticWorld-Packages/world.opensemantic.demo
[submodule "packages/world.opensemantic.meta.docs"]
	path = packages/world.opensemantic.meta.docs
	url = https://github.com/OpenSemanticWorld-Packages/world.opensemantic.meta.docs
[submodule "packages/world.opensemantic.meta.legal"]
	path = packages/world.opensemantic.meta.legal
	url = https://github.com/OpenSemanticWorld-Packages/world.opensemantic.meta.legal
[submodule "packages/world.opensemantic.ontology"]
	path = packages/world.opensemantic.ontology
	url = https://github.com/OpenSemanticWorld-Packages/world.opensemantic.ontology
	branch = main
[submodule "packages/world.opensemantic.batteries"]
	path = packages/world.opensemantic.batteries
	url = https://github.com/OpenSemanticWorld-Packages/world.opensemantic.batteries.git
[submodule "packages/world.opensemantic.quantities"]
	path = packages/world.opensemantic.quantities
	url = https://github.com/OpenSemanticWorld-Packages/world.opensemantic.quantities
[submodule "tools/quantities-units"]
	path = tools/quantities-units
	url = https://github.com/opensemanticworld/quantities-units
[submodule "python_packages/opensemantic-python"]
	path = python_packages/opensemantic-python
	url = https://github.com/OpenSemanticWorld-Packages/opensemantic-python
[submodule "python_packages/opensemantic.base-python"]
	path = python_packages/opensemantic.base-python
	url = https://github.com/OpenSemanticWorld-Packages/opensemantic.base-python
[submodule "python_packages/opensemantic.core-python"]
	path = python_packages/opensemantic.core-python
	url = https://github.com/OpenSemanticWorld-Packages/opensemantic.core-python
[submodule "packages/world.opensemantic.characteristics.basic"]
	path = packages/world.opensemantic.characteristics.basic
	url = https://github.com/OpenSemanticWorld-Packages/world.opensemantic.characteristics.basic
[submodule "packages/world.opensemantic.characteristics.quantitative"]
	path = packages/world.opensemantic.characteristics.quantitative
	url = https://github.com/OpenSemanticWorld-Packages/world.opensemantic.characteristics.quantitative
[submodule "python_packages/opensemantic.quantities"]
	path = python_packages/opensemantic.quantities
	url = https://github.com/OpenSemanticLab/opensemantic.quantities.git
[submodule "python_packages/opensemantic.characteristics-python"]
	path = python_packages/opensemantic.characteristics-python
	url = https://github.com/OpenSemanticWorld-Packages/opensemantic.characteristics-python
[submodule "python_packages/opensemantic.characteristics.basic-python"]
	path = python_packages/opensemantic.characteristics.basic-python
	url = https://github.com/OpenSemanticWorld-Packages/opensemantic.characteristics.basic-python
[submodule ".\\python_packages\\opensemantic.characteristics.quantitative-python"]
	path = .\\python_packages\\opensemantic.characteristics.quantitative-python
	url = https://github.com/OpenSemanticWorld-Packages/opensemantic.characteristics.quantitative-python

